/* src/app/globals.css */

/* Esta é a nova forma de importar tudo no Tailwind v4 */
@import "tailwindcss";

/* O resto do seu CSS customizado vem depois */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}